.navbar {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: inherit;
        padding: 8px;
        border-radius: 10px;
        width: 70px;

        svg {
            width: 34px;
            height: 34px;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.07);
        }
    }
}
